dist
build
env
install
.qt_for_python
*.spec
*.exe
database/*.db
database/*.pkl
integrations/*.json
assets/__pycache__
assets/__pycache__/*
database/__pycache__
database/__pycache__/*
tabs/__pycache__
tabs/__pycache__/*
designs/__pycache__
designs/__pycache__/*
designs/python/__pycache__
designs/python/__pycache__/*
integrations/__pycache__
integrations/__pycache__/*
integrations/calendar/__pycache__
integrations/calendar/__pycache__/*
threads/__pycache__
threads/__pycache__/*
utils/__pycache__
utils/__pycache__/*
widgets/__pycache__
widgets/__pycache__/*
widgetStyles/__pycache__
widgetStyles/__pycache__/*
windows/__pycache__
windows/__pycache__/*
workers/__pycache__/*
workers/__pycache__